@model Course
@{
    ViewData["Title"] = "Add";
  //  SelectList instList = new SelectList(ViewBag.Inst, "ID", "Name");
      SelectList instList = new SelectList(ViewBag.Inst,"Id","Name");
}

<h1>Add</h1>

<form method="post" asp-action="SaveAdd" asp-controller="Course">
    <div asp-validation-summary="All"></div>

    <label asp-for="Name"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>

     <label asp-for="Degree"></label>
    <input asp-for="Degree" class="form-control" />
    <span asp-validation-for="Degree" class="text-danger"></span>

     <label asp-for="MinDegree"></label>
    <input asp-for="MinDegree" class="form-control" />
    <span asp-validation-for="MinDegree" class="text-danger"></span>

    <label asp-for="InstructorId"></label>
    <select asp-items="instList" asp-for="InstructorId"  class="form-control">
        <option value="0">Select Instuctor</option>
    </select>
    <span asp-validation-for="InstructorId" class="text-danger"></span>
    <input type="Submit" value="Add" class="btn btn-primary" />

</form>
@section Scripts{

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js" ></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" ></script>
}

<!-- Server Side Only=>UniqueCourse Attribute , Custom Validation <Select Instructor>  
    
    Client Side=>Remote Attribute
-->



