@model Student
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<partial name="_StudentCard" model="Model"  />
<a asp-action="ConfirmDelete" asp-route-id="@Model.Id"  class="btn btn-primary"> ConFirm Delete </a>