@model Student 
@{
    ViewData["Title"] = "NewDetails";
}

<h1>NewDetails</h1>

<partial name="_StudentCard" model="Model"  />
<a asp-action="Edit" asp-route-id="@Model.Id"  class="btn btn-primary"> Update </a>