@model Department
@{
    ViewData["Title"] = "Edit";
}
<h1 ></h1>
<h1 id="index" >Edit</h1>

<form method="post" asp-action="SaveEdit" asp-controller="Department" asp-route-id="@Model.Id" asp-fragment="index" >

    <label asp-for="Name"></label>
    <input asp-for="Name" class="form-control" />

     <label asp-for="ManagerName"></label>
    <input asp-for="ManagerName" class="form-control" />

   

<input type="submit" value="Create" />
</form>

