<!-- Stongly type view-->
@model Product 

<div class="card" style="width:400px">
  <img class="card-img-top" src="/Images/@Model.img" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">@Model.Name </h4>
    <p class="card-text"> @Model.Description</p>
   
  </div>
</div>